/********************Table style*******************/

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

table > caption {
  text-align: left;
}
table > thead {
  background-color: #005544;
  color: #f9f9f9;
  font-style: normal;
  position: sticky;
}
table > tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}

table > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  opacity: 1 !important;
}

.head-row td {
  border-bottom: 0.1rem solid #000000;
}
