@import "./styles/table.css";
@import "./styles/input-checkbox.css";
@import "./styles/input-text.css";
@import "./styles/button-remove.css";
@import "./styles/button-add.css";
@import "./styles/info.css";
@import "./styles/scroll.css";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffffcc;
  width: 100%;
  position: absolute;
  top: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container,
.summary {
  background-color: #ffffffcc;
  text-align: center;

  padding: 2rem;
  margin: 2rem;

  max-height: 80%;
  min-height: 80%;

  overflow-y: auto;
  overflow-x: auto;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
