@import "./styles/table.css";
@import "./styles/input-checkbox.css";
@import "./styles/input-text.css";
@import "./styles/button-remove.css";
@import "./styles/button-add.css";
@import "./styles/info.css";
@import "./styles/scroll.css";

header {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
}

main {
  width: 100%;
  height: auto;
  background-image: url("./images/background.jpg");
  background-size: cover;
  position: sticky;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
