.container {
  background-color: #ffffffcc;
  text-align: center;
  padding: 3rem;
  font-family: "Open Sans";
  overflow-y: auto;
  overflow-x: visible;
  height: auto;
  width: 100%;
}

.wraper {
  background-color: #ffffffcc;
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: auto;
  margin-left: 3rem;
}

.wraper div {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.wraper span {
  padding: 3rem;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
