.nav ul > li {
  display: inline;
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav ul > li > a {
  text-decoration: none;
  font-family: "Open Sans";
  color: #000000;
}

.nav ul > li > a:hover {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid;
  border-color: #000000;
}

.logo {
  padding-left: 2rem;
}
