.home {
  background-color: #ffffffcc;
  padding: 5rem;
  text-align: center;
}

#logo-big {
  width: 100%;
  height: auto;
}

#logo-big #outer {
  animation: logo 10s linear infinite;
  transform-origin: center;
}

@keyframes logo {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
